body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: #333;

  }

  .Text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .App {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .Card {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 250px;
  }

  .avatar {
    width: 130px;
    height: 150px;
    position: absolute;
    top: 85px;
    left: 80px;
  }

  .frame {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

  }